## Pandas Tutorial

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Agenda

- What is Data Frames?
- What is Data Series?
- Different operation in Pandas

In [1]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [2]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [3]:
df.head()

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [4]:
## Accessing the elements

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int64

In [5]:
## Check the type

type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [8]:
## Take the elements from the Column2
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [9]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [10]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [12]:
df=pd.read_csv('/home/sakil/Desktop/DataScienceCourse_DTU/Data_Science_Online_Course/mercedesbenz.csv')

In [13]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df.tail()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [16]:
#summary about your data
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
#Get the unique category counts
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
aq     18
i      18
am     18
u      17
l      16
aw     16
ad     14
b      11
k      11
au     11
as     10
r      10
bc      6
ao      4
c       3
aa      2
q       2
ab      1
g       1
ac      1
Name: X0, dtype: int64

In [18]:
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [19]:
df.corr()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,1.000000,-0.055108,0.001602,NaN,0.058988,-0.031917,-0.025438,0.002237,-0.036480,-0.038171,...,0.045229,-0.080259,-0.022965,0.030371,0.023382,-0.013577,-0.038171,-0.009332,-0.015355,0.029059
y,-0.055108,1.000000,-0.026985,NaN,0.089792,0.048276,0.193643,0.023116,0.048946,-0.159815,...,0.029100,0.114005,0.061403,-0.258679,0.067919,0.040932,-0.159815,0.040291,-0.004591,-0.022280
X10,0.001602,-0.026985,1.000000,NaN,-0.033084,-0.028806,-0.100474,-0.002532,-0.005944,-0.010164,...,0.165277,-0.028618,-0.074244,-0.016870,-0.011374,-0.010479,-0.010164,-0.004740,-0.002532,-0.004387
X11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,0.058988,0.089792,-0.033084,NaN,1.000000,0.214825,-0.246513,-0.006212,-0.014584,-0.024937,...,-0.107864,-0.070214,0.030134,-0.016043,-0.027907,-0.005566,-0.024937,-0.011628,-0.006212,-0.010765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,-0.013577,0.040932,-0.010479,NaN,-0.005566,0.023045,0.007743,-0.001968,-0.004619,-0.007899,...,-0.061741,-0.022240,-0.061168,-0.013110,-0.008839,1.000000,-0.007899,-0.003683,-0.001968,-0.003410
X382,-0.038171,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X383,-0.009332,0.040291,-0.004740,NaN,-0.011628,-0.010125,0.023604,-0.000890,-0.002089,-0.003572,...,-0.015413,-0.010059,0.035107,-0.005930,-0.003998,-0.003683,-0.003572,1.000000,-0.000890,-0.001542
X384,-0.015355,-0.004591,-0.002532,NaN,-0.006212,0.041242,0.025199,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,0.008694,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,1.000000,-0.000824
X385,0.029059,-0.022280,-0.004387,NaN,-0.010765,-0.009373,0.043667,-0.000824,-0.001934,-0.003307,...,0.055225,-0.009311,-0.025610,-0.005489,-0.003701,-0.003410,-0.003307,-0.001542,-0.000824,1.000000

In [20]:
df['X11'].value_counts()

0    4209
Name: X11, dtype: int64

In [21]:
import numpy as np

In [22]:
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [23]:
df=pd.DataFrame(lst_data)

In [24]:
df.head()

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [27]:
## HAndling Missing Values

##Drop nan values

df.dropna(axis=0)

     0    1    2
0  1.0  2.0  3.0

In [29]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [30]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])

In [31]:
df.head()

        one       two     three
a  0.645205 -1.192086  1.587504
c  0.304691 -0.324544 -1.314111
e -0.872532 -0.379801 -1.297920
f -0.013383  0.134909  0.697914
h  0.421711 -1.037843  0.313344

In [32]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [33]:
df2

        one       two     three
a  0.645205 -1.192086  1.587504
b       NaN       NaN       NaN
c  0.304691 -0.324544 -1.314111
d       NaN       NaN       NaN
e -0.872532 -0.379801 -1.297920
f -0.013383  0.134909  0.697914
g       NaN       NaN       NaN
h  0.421711 -1.037843  0.313344

In [75]:
df2.dropna(axis=0)

        one       two     three
a  0.738644 -0.633644  0.299647
c -0.001950 -0.628875  2.305905
e  0.429485  0.397035  0.128684
f  0.481444 -0.664824  0.319812
h  0.132645  0.631944 -1.428349

In [34]:
pd.isna(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [35]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [36]:
df2.fillna('Missing')

         one       two     three
a   0.645205  -1.19209    1.5875
b    Missing   Missing   Missing
c   0.304691 -0.324544  -1.31411
d    Missing   Missing   Missing
e  -0.872532 -0.379801  -1.29792
f -0.0133835  0.134909  0.697914
g    Missing   Missing   Missing
h   0.421711  -1.03784  0.313344

In [37]:
df2['one'].values

array([ 0.64520532,         nan,  0.30469137,         nan, -0.87253247,
       -0.0133835 ,         nan,  0.42171123])

In [84]:
### Reading different data sources with the help of pandas

## CSV

In [38]:
from io import StringIO, BytesIO

In [39]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')

In [40]:
type(data)

str

In [90]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [41]:
## Read from specific columns
df=pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3'])

In [42]:
df.to_csv('Test.csv')

In [94]:
## Specifying columns data types

data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [43]:
print(data)

col1,col2,col3
x,y,1
a,b,2
c,d,3

In [44]:
df=pd.read_csv(StringIO(data),dtype=object)

In [47]:
df

  col1 col2 col3
0    x    y    1
1    a    b    2
2    c    d    3

In [48]:
df['a'][1]

KeyError: 'a'

In [49]:
df=pd.read_csv(StringIO(data),dtype={'b':int,'c':np.float,'a':'Int64'})

In [50]:
df

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [51]:
df['a'][1]

KeyError: 'a'

In [52]:
## check the datatype
df.dtypes

col1    object
col2    object
col3     int64
dtype: object

In [116]:
## Index columns and training delimiters

In [53]:
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [54]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [55]:
 data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [56]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [57]:
pd.read_csv(StringIO(data),index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [58]:
## Combining usecols and index_col
 data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [59]:
pd.read_csv(StringIO(data), usecols=['b', 'c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [60]:
## Quoting and Escape Characters¶. Very useful in NLP

data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [61]:
pd.read_csv(StringIO(data),escapechar='\\')

                               a  b
0  hello, "Bob", nice to see you  5

In [62]:
## URL to CSV

df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

In [63]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

In [ ]:
## Read Json to CSV

In [64]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
pd.read_json(Data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [65]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

URLError: <urlopen error [Errno 0] Error>

In [66]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

In [145]:
# convert Json to csv

In [68]:
df.to_csv('wine.csv')

In [69]:
# convert Json to different json formats

df.to_json(orient="index")

'{"0":{"item_code":"AA0","item_name":"All items - old base","display_level":0,"selectable":"T","sort_sequence":2},"1":{"item_code":"AA0R","item_name":"Purchasing power of the consumer dollar - old base","display_level":0,"selectable":"T","sort_sequence":399},"2":{"item_code":"SA0","item_name":"All items","display_level":0,"selectable":"T","sort_sequence":1},"3":{"item_code":"SA0E","item_name":"Energy","display_level":1,"selectable":"T","sort_sequence":374},"4":{"item_code":"SA0L1","item_name":"All items less food","display_level":1,"selectable":"T","sort_sequence":358},"5":{"item_code":"SA0L12","item_name":"All items less food and shelter","display_level":1,"selectable":"T","sort_sequence":361},"6":{"item_code":"SA0L12E","item_name":"All items less food, shelter, and energy","display_level":1,"selectable":"T","sort_sequence":362},"7":{"item_code":"SA0L12E4","item_name":"All items less food, shelter, energy, and used cars and trucks","display_level":1,"selectable":"T","sort_sequence":363},"8":{"item_code":"SA0L1E","item_name":"All items less food and energy","display_level":1,"selectable":"T","sort_sequence":359},"9":{"item_code":"SA0L2","item_name":"All items less shelter","display_level":1,"selectable":"T","sort_sequence":360},"10":{"item_code":"SA0L5","item_name":"All items less medical care","display_level":1,"selectable":"T","sort_sequence":356},"11":{"item_code":"SA0LE","item_name":"All items less energy","display_level":1,"selectable":"T","sort_sequence":357},"12":{"item_code":"SA0R","item_name":"Purchasing power of the consumer dollar","display_level":0,"selectable":"T","sort_sequence":398},"13":{"item_code":"SA311","item_name":"Apparel less footwear","display_level":1,"selectable":"T","sort_sequence":364},"14":{"item_code":"SAA","item_name":"Apparel","display_level":0,"selectable":"T","sort_sequence":187},"15":{"item_code":"SAA1","item_name":"Men\'s and boys\' apparel","display_level":1,"selectable":"T","sort_sequence":188},"16":{"item_code":"SAA2","item_name":"Women\'s and girls\' apparel","display_level":1,"selectable":"T","sort_sequence":195},"17":{"item_code":"SAC","item_name":"Commodities","display_level":1,"selectable":"T","sort_sequence":365},"18":{"item_code":"SACE","item_name":"Energy commodities","display_level":1,"selectable":"T","sort_sequence":375},"19":{"item_code":"SACL1","item_name":"Commodities less food","display_level":1,"selectable":"T","sort_sequence":366},"20":{"item_code":"SACL11","item_name":"Commodities less food and beverages","display_level":1,"selectable":"T","sort_sequence":367},"21":{"item_code":"SACL1E","item_name":"Commodities less food and energy commodities","display_level":1,"selectable":"T","sort_sequence":368},"22":{"item_code":"SACL1E4","item_name":"Commodities less food, energy, and used cars and trucks","display_level":1,"selectable":"T","sort_sequence":369},"23":{"item_code":"SAD","item_name":"Durables","display_level":1,"selectable":"T","sort_sequence":371},"24":{"item_code":"SAE","item_name":"Education and communication","display_level":0,"selectable":"T","sort_sequence":311},"25":{"item_code":"SAE1","item_name":"Education","display_level":1,"selectable":"T","sort_sequence":312},"26":{"item_code":"SAE2","item_name":"Communication","display_level":1,"selectable":"T","sort_sequence":320},"27":{"item_code":"SAE21","item_name":"Information and information processing","display_level":2,"selectable":"T","sort_sequence":324},"28":{"item_code":"SAEC","item_name":"Education and communication commodities","display_level":1,"selectable":"T","sort_sequence":372},"29":{"item_code":"SAES","item_name":"Education and communication services","display_level":1,"selectable":"T","sort_sequence":373},"30":{"item_code":"SAF","item_name":"Food and beverages","display_level":0,"selectable":"T","sort_sequence":3},"31":{"item_code":"SAF1","item_name":"Food","display_level":1,"selectable":"T","sort_sequence":4},"32":{"item_code":"SAF11","item_name":"Food at home","display_level":2,"selectable":"T","sort_sequence":5},"33":{"item_code":"SAF111","item_name":"Cereals and bakery products","display_level":3,"selectable":"T","sort_sequence":6},"34":{"item_code":"SAF112","item_name":"Meats, poultry, fish, and eggs","display_level":3,"selectable":"T","sort_sequence":24},"35":{"item_code":"SAF1121","item_name":"Meats, poultry, and fish","display_level":4,"selectable":"T","sort_sequence":25},"36":{"item_code":"SAF11211","item_name":"Meats","display_level":5,"selectable":"T","sort_sequence":26},"37":{"item_code":"SAF113","item_name":"Fruits and vegetables","display_level":3,"selectable":"T","sort_sequence":63},"38":{"item_code":"SAF1131","item_name":"Fresh fruits and vegetables","display_level":4,"selectable":"T","sort_sequence":64},"39":{"item_code":"SAF114","item_name":"Nonalcoholic beverages and beverage materials","display_level":3,"selectable":"T","sort_sequence":84},"40":{"item_code":"SAF115","item_name":"Other food at home","display_level":3,"selectable":"T","sort_sequence":94},"41":{"item_code":"SAF116","item_name":"Alcoholic beverages","display_level":2,"selectable":"T","sort_sequence":125},"42":{"item_code":"SAG","item_name":"Other goods and services","display_level":0,"selectable":"T","sort_sequence":335},"43":{"item_code":"SAG1","item_name":"Personal care","display_level":1,"selectable":"T","sort_sequence":339},"44":{"item_code":"SAGC","item_name":"Other goods","display_level":1,"selectable":"T","sort_sequence":383},"45":{"item_code":"SAGS","item_name":"Other personal services","display_level":1,"selectable":"T","sort_sequence":384},"46":{"item_code":"SAH","item_name":"Housing","display_level":0,"selectable":"T","sort_sequence":136},"47":{"item_code":"SAH1","item_name":"Shelter","display_level":1,"selectable":"T","sort_sequence":137},"48":{"item_code":"SAH2","item_name":"Fuels and utilities","display_level":1,"selectable":"T","sort_sequence":145},"49":{"item_code":"SAH21","item_name":"Household energy","display_level":2,"selectable":"T","sort_sequence":146},"50":{"item_code":"SAH3","item_name":"Household furnishings and operations","display_level":1,"selectable":"T","sort_sequence":156},"51":{"item_code":"SAH31","item_name":"Household furnishings and supplies","display_level":1,"selectable":"T","sort_sequence":376},"52":{"item_code":"SAM","item_name":"Medical care","display_level":0,"selectable":"T","sort_sequence":250},"53":{"item_code":"SAM1","item_name":"Medical care commodities","display_level":1,"selectable":"T","sort_sequence":251},"54":{"item_code":"SAM2","item_name":"Medical care services","display_level":1,"selectable":"T","sort_sequence":256},"55":{"item_code":"SAN","item_name":"Nondurables","display_level":1,"selectable":"T","sort_sequence":378},"56":{"item_code":"SAN1D","item_name":"Domestically produced farm food","display_level":1,"selectable":"T","sort_sequence":370},"57":{"item_code":"SANL1","item_name":"Nondurables less food","display_level":1,"selectable":"T","sort_sequence":379},"58":{"item_code":"SANL11","item_name":"Nondurables less food and beverages","display_level":1,"selectable":"T","sort_sequence":381},"59":{"item_code":"SANL113","item_name":"Nondurables less food, beverages, and apparel","display_level":1,"selectable":"T","sort_sequence":382},"60":{"item_code":"SANL13","item_name":"Nondurables less food and apparel","display_level":1,"selectable":"T","sort_sequence":380},"61":{"item_code":"SAR","item_name":"Recreation","display_level":0,"selectable":"T","sort_sequence":269},"62":{"item_code":"SARC","item_name":"Recreation commodities","display_level":1,"selectable":"T","sort_sequence":386},"63":{"item_code":"SARS","item_name":"Recreation services","display_level":1,"selectable":"T","sort_sequence":387},"64":{"item_code":"SAS","item_name":"Services","display_level":1,"selectable":"T","sort_sequence":389},"65":{"item_code":"SAS24","item_name":"Utilities and public transportation","display_level":1,"selectable":"T","sort_sequence":395},"66":{"item_code":"SAS2RS","item_name":"Rent of shelter","display_level":1,"selectable":"T","sort_sequence":388},"67":{"item_code":"SAS367","item_name":"Other services","display_level":1,"selectable":"T","sort_sequence":385},"68":{"item_code":"SAS4","item_name":"Transportation services","display_level":1,"selectable":"T","sort_sequence":394},"69":{"item_code":"SASL2RS","item_name":"Services less rent of shelter","display_level":1,"selectable":"T","sort_sequence":392},"70":{"item_code":"SASL5","item_name":"Services less medical care services","display_level":1,"selectable":"T","sort_sequence":391},"71":{"item_code":"SASLE","item_name":"Services less energy services","display_level":1,"selectable":"T","sort_sequence":390},"72":{"item_code":"SAT","item_name":"Transportation","display_level":0,"selectable":"T","sort_sequence":210},"73":{"item_code":"SAT1","item_name":"Private transportation","display_level":1,"selectable":"T","sort_sequence":211},"74":{"item_code":"SATCLTB","item_name":"Transportation commodities less motor fuel","display_level":1,"selectable":"T","sort_sequence":393},"75":{"item_code":"SEAA","item_name":"Men\'s apparel","display_level":2,"selectable":"T","sort_sequence":189},"76":{"item_code":"SEAA01","item_name":"Men\'s suits, sport coats, and outerwear","display_level":3,"selectable":"T","sort_sequence":190},"77":{"item_code":"SEAA02","item_name":"Men\'s underwear, nightwear, swimwear and accessories","display_level":3,"selectable":"T","sort_sequence":191},"78":{"item_code":"SEAA03","item_name":"Men\'s shirts and sweaters","display_level":3,"selectable":"T","sort_sequence":192},"79":{"item_code":"SEAA04","item_name":"Men\'s pants and shorts","display_level":3,"selectable":"T","sort_sequence":193},"80":{"item_code":"SEAB","item_name":"Boys\' apparel","display_level":2,"selectable":"T","sort_sequence":194},"81":{"item_code":"SEAC","item_name":"Women\'s apparel","display_level":2,"selectable":"T","sort_sequence":196},"82":{"item_code":"SEAC01","item_name":"Women\'s outerwear","display_level":3,"selectable":"T","sort_sequence":197},"83":{"item_code":"SEAC02","item_name":"Women\'s dresses","display_level":3,"selectable":"T","sort_sequence":198},"84":{"item_code":"SEAC03","item_name":"Women\'s suits and separates","display_level":3,"selectable":"T","sort_sequence":199},"85":{"item_code":"SEAC04","item_name":"Women\'s underwear, nightwear, swimwear and accessories","display_level":3,"selectable":"T","sort_sequence":200},"86":{"item_code":"SEAD","item_name":"Girls\' apparel","display_level":2,"selectable":"T","sort_sequence":201},"87":{"item_code":"SEAE","item_name":"Footwear","display_level":1,"selectable":"T","sort_sequence":202},"88":{"item_code":"SEAE01","item_name":"Men\'s footwear","display_level":2,"selectable":"T","sort_sequence":203},"89":{"item_code":"SEAE02","item_name":"Boys\' and girls\' footwear","display_level":2,"selectable":"T","sort_sequence":204},"90":{"item_code":"SEAE03","item_name":"Women\'s footwear","display_level":2,"selectable":"T","sort_sequence":205},"91":{"item_code":"SEAF","item_name":"Infants\' and toddlers\' apparel","display_level":1,"selectable":"T","sort_sequence":206},"92":{"item_code":"SEAG","item_name":"Jewelry and watches","display_level":1,"selectable":"T","sort_sequence":207},"93":{"item_code":"SEAG01","item_name":"Watches","display_level":2,"selectable":"T","sort_sequence":208},"94":{"item_code":"SEAG02","item_name":"Jewelry","display_level":2,"selectable":"T","sort_sequence":209},"95":{"item_code":"SEEA","item_name":"Educational books and supplies","display_level":2,"selectable":"T","sort_sequence":313},"96":{"item_code":"SEEB","item_name":"Tuition, other school fees, and childcare","display_level":2,"selectable":"T","sort_sequence":315},"97":{"item_code":"SEEB01","item_name":"College tuition and fees","display_level":3,"selectable":"T","sort_sequence":316},"98":{"item_code":"SEEB02","item_name":"Elementary and high school tuition and fees","display_level":3,"selectable":"T","sort_sequence":317},"99":{"item_code":"SEEB03","item_name":"Day care and preschool","display_level":3,"selectable":"T","sort_sequence":318},"100":{"item_code":"SEEB04","item_name":"Technical and business school tuition and fees","display_level":3,"selectable":"T","sort_sequence":319},"101":{"item_code":"SEEC","item_name":"Postage and delivery services","display_level":2,"selectable":"T","sort_sequence":321},"102":{"item_code":"SEEC01","item_name":"Postage","display_level":3,"selectable":"T","sort_sequence":322},"103":{"item_code":"SEEC02","item_name":"Delivery services","display_level":3,"selectable":"T","sort_sequence":323},"104":{"item_code":"SEED","item_name":"Telephone services","display_level":3,"selectable":"T","sort_sequence":325},"105":{"item_code":"SEED03","item_name":"Wireless telephone services","display_level":4,"selectable":"T","sort_sequence":326},"106":{"item_code":"SEED04","item_name":"Land-line telephone services","display_level":4,"selectable":"T","sort_sequence":327},"107":{"item_code":"SEEE","item_name":"Information technology, hardware and services","display_level":2,"selectable":"T","sort_sequence":330},"108":{"item_code":"SEEE01","item_name":"Computers, peripherals, and smart home assistants","display_level":3,"selectable":"T","sort_sequence":331},"109":{"item_code":"SEEE02","item_name":"Computer software and accessories","display_level":3,"selectable":"T","sort_sequence":332},"110":{"item_code":"SEEE03","item_name":"Internet services and electronic information providers","display_level":3,"selectable":"T","sort_sequence":333},"111":{"item_code":"SEEE04","item_name":"Telephone hardware, calculators, and other consumer information items","display_level":3,"selectable":"T","sort_sequence":334},"112":{"item_code":"SEEEC","item_name":"Information technology commodities","display_level":1,"selectable":"T","sort_sequence":377},"113":{"item_code":"SEFA","item_name":"Cereals and cereal products","display_level":4,"selectable":"T","sort_sequence":7},"114":{"item_code":"SEFA01","item_name":"Flour and prepared flour mixes","display_level":5,"selectable":"T","sort_sequence":8},"115":{"item_code":"SEFA02","item_name":"Breakfast cereal","display_level":5,"selectable":"T","sort_sequence":9},"116":{"item_code":"SEFA03","item_name":"Rice, pasta, cornmeal","display_level":5,"selectable":"T","sort_sequence":10},"117":{"item_code":"SEFB","item_name":"Bakery products","display_level":4,"selectable":"T","sort_sequence":12},"118":{"item_code":"SEFB01","item_name":"Bread","display_level":5,"selectable":"T","sort_sequence":13},"119":{"item_code":"SEFB02","item_name":"Fresh biscuits, rolls, muffins","display_level":5,"selectable":"T","sort_sequence":16},"120":{"item_code":"SEFB03","item_name":"Cakes, cupcakes, and cookies","display_level":5,"selectable":"T","sort_sequence":17},"121":{"item_code":"SEFB04","item_name":"Other bakery products","display_level":5,"selectable":"T","sort_sequence":20},"122":{"item_code":"SEFC","item_name":"Beef and veal","display_level":6,"selectable":"T","sort_sequence":27},"123":{"item_code":"SEFC01","item_name":"Uncooked ground beef","display_level":7,"selectable":"T","sort_sequence":28},"124":{"item_code":"SEFC02","item_name":"Uncooked beef roasts","display_level":7,"selectable":"T","sort_sequence":29},"125":{"item_code":"SEFC03","item_name":"Uncooked beef steaks","display_level":7,"selectable":"T","sort_sequence":30},"126":{"item_code":"SEFC04","item_name":"Uncooked other beef and veal","display_level":7,"selectable":"T","sort_sequence":31},"127":{"item_code":"SEFD","item_name":"Pork","display_level":6,"selectable":"T","sort_sequence":32},"128":{"item_code":"SEFD01","item_name":"Bacon, breakfast sausage, and related products","display_level":7,"selectable":"T","sort_sequence":33},"129":{"item_code":"SEFD02","item_name":"Ham","display_level":7,"selectable":"T","sort_sequence":36},"130":{"item_code":"SEFD03","item_name":"Pork chops","display_level":7,"selectable":"T","sort_sequence":38},"131":{"item_code":"SEFD04","item_name":"Other pork including roasts, steaks, and ribs","display_level":7,"selectable":"T","sort_sequence":39},"132":{"item_code":"SEFE","item_name":"Other meats","display_level":6,"selectable":"T","sort_sequence":40},"133":{"item_code":"SEFF","item_name":"Poultry","display_level":6,"selectable":"T","sort_sequence":45},"134":{"item_code":"SEFF01","item_name":"Chicken","display_level":7,"selectable":"T","sort_sequence":46},"135":{"item_code":"SEFF02","item_name":"Other uncooked poultry including turkey","display_level":6,"selectable":"T","sort_sequence":49},"136":{"item_code":"SEFG","item_name":"Fish and seafood","display_level":5,"selectable":"T","sort_sequence":50},"137":{"item_code":"SEFG01","item_name":"Fresh fish and seafood","display_level":6,"selectable":"T","sort_sequence":51},"138":{"item_code":"SEFG02","item_name":"Processed fish and seafood","display_level":6,"selectable":"T","sort_sequence":52},"139":{"item_code":"SEFH","item_name":"Eggs","display_level":4,"selectable":"T","sort_sequence":55},"140":{"item_code":"SEFJ","item_name":"Dairy and related products","display_level":3,"selectable":"T","sort_sequence":56},"141":{"item_code":"SEFJ01","item_name":"Milk","display_level":4,"selectable":"T","sort_sequence":57},"142":{"item_code":"SEFJ02","item_name":"Cheese and related products","display_level":4,"selectable":"T","sort_sequence":60},"143":{"item_code":"SEFJ03","item_name":"Ice cream and related products","display_level":4,"selectable":"T","sort_sequence":61},"144":{"item_code":"SEFJ04","item_name":"Other dairy and related products","display_level":4,"selectable":"T","sort_sequence":62},"145":{"item_code":"SEFK","item_name":"Fresh fruits","display_level":5,"selectable":"T","sort_sequence":65},"146":{"item_code":"SEFK01","item_name":"Apples","display_level":6,"selectable":"T","sort_sequence":66},"147":{"item_code":"SEFK02","item_name":"Bananas","display_level":6,"selectable":"T","sort_sequence":67},"148":{"item_code":"SEFK03","item_name":"Citrus fruits","display_level":6,"selectable":"T","sort_sequence":68},"149":{"item_code":"SEFK04","item_name":"Other fresh fruits","display_level":6,"selectable":"T","sort_sequence":70},"150":{"item_code":"SEFL","item_name":"Fresh vegetables","display_level":5,"selectable":"T","sort_sequence":71},"151":{"item_code":"SEFL01","item_name":"Potatoes","display_level":6,"selectable":"T","sort_sequence":72},"152":{"item_code":"SEFL02","item_name":"Lettuce","display_level":6,"selectable":"T","sort_sequence":73},"153":{"item_code":"SEFL03","item_name":"Tomatoes","display_level":6,"selectable":"T","sort_sequence":74},"154":{"item_code":"SEFL04","item_name":"Other fresh vegetables","display_level":6,"selectable":"T","sort_sequence":75},"155":{"item_code":"SEFM","item_name":"Processed fruits and vegetables","display_level":4,"selectable":"T","sort_sequence":76},"156":{"item_code":"SEFM01","item_name":"Canned fruits and vegetables","display_level":5,"selectable":"T","sort_sequence":77},"157":{"item_code":"SEFM02","item_name":"Frozen fruits and vegetables","display_level":5,"selectable":"T","sort_sequence":80},"158":{"item_code":"SEFM03","item_name":"Other processed fruits and vegetables including dried","display_level":5,"selectable":"T","sort_sequence":82},"159":{"item_code":"SEFN","item_name":"Juices and nonalcoholic drinks","display_level":4,"selectable":"T","sort_sequence":85},"160":{"item_code":"SEFN01","item_name":"Carbonated drinks","display_level":5,"selectable":"T","sort_sequence":86},"161":{"item_code":"SEFN02","item_name":"Frozen noncarbonated juices and drinks","display_level":5,"selectable":"T","sort_sequence":87},"162":{"item_code":"SEFN03","item_name":"Nonfrozen noncarbonated juices and drinks","display_level":5,"selectable":"T","sort_sequence":88},"163":{"item_code":"SEFP","item_name":"Beverage materials including coffee and tea","display_level":4,"selectable":"T","sort_sequence":89},"164":{"item_code":"SEFP01","item_name":"Coffee","display_level":5,"selectable":"T","sort_sequence":90},"165":{"item_code":"SEFP02","item_name":

In [70]:

df.to_json(orient="records")

'[{"item_code":"AA0","item_name":"All items - old base","display_level":0,"selectable":"T","sort_sequence":2},{"item_code":"AA0R","item_name":"Purchasing power of the consumer dollar - old base","display_level":0,"selectable":"T","sort_sequence":399},{"item_code":"SA0","item_name":"All items","display_level":0,"selectable":"T","sort_sequence":1},{"item_code":"SA0E","item_name":"Energy","display_level":1,"selectable":"T","sort_sequence":374},{"item_code":"SA0L1","item_name":"All items less food","display_level":1,"selectable":"T","sort_sequence":358},{"item_code":"SA0L12","item_name":"All items less food and shelter","display_level":1,"selectable":"T","sort_sequence":361},{"item_code":"SA0L12E","item_name":"All items less food, shelter, and energy","display_level":1,"selectable":"T","sort_sequence":362},{"item_code":"SA0L12E4","item_name":"All items less food, shelter, energy, and used cars and trucks","display_level":1,"selectable":"T","sort_sequence":363},{"item_code":"SA0L1E","item_name":"All items less food and energy","display_level":1,"selectable":"T","sort_sequence":359},{"item_code":"SA0L2","item_name":"All items less shelter","display_level":1,"selectable":"T","sort_sequence":360},{"item_code":"SA0L5","item_name":"All items less medical care","display_level":1,"selectable":"T","sort_sequence":356},{"item_code":"SA0LE","item_name":"All items less energy","display_level":1,"selectable":"T","sort_sequence":357},{"item_code":"SA0R","item_name":"Purchasing power of the consumer dollar","display_level":0,"selectable":"T","sort_sequence":398},{"item_code":"SA311","item_name":"Apparel less footwear","display_level":1,"selectable":"T","sort_sequence":364},{"item_code":"SAA","item_name":"Apparel","display_level":0,"selectable":"T","sort_sequence":187},{"item_code":"SAA1","item_name":"Men\'s and boys\' apparel","display_level":1,"selectable":"T","sort_sequence":188},{"item_code":"SAA2","item_name":"Women\'s and girls\' apparel","display_level":1,"selectable":"T","sort_sequence":195},{"item_code":"SAC","item_name":"Commodities","display_level":1,"selectable":"T","sort_sequence":365},{"item_code":"SACE","item_name":"Energy commodities","display_level":1,"selectable":"T","sort_sequence":375},{"item_code":"SACL1","item_name":"Commodities less food","display_level":1,"selectable":"T","sort_sequence":366},{"item_code":"SACL11","item_name":"Commodities less food and beverages","display_level":1,"selectable":"T","sort_sequence":367},{"item_code":"SACL1E","item_name":"Commodities less food and energy commodities","display_level":1,"selectable":"T","sort_sequence":368},{"item_code":"SACL1E4","item_name":"Commodities less food, energy, and used cars and trucks","display_level":1,"selectable":"T","sort_sequence":369},{"item_code":"SAD","item_name":"Durables","display_level":1,"selectable":"T","sort_sequence":371},{"item_code":"SAE","item_name":"Education and communication","display_level":0,"selectable":"T","sort_sequence":311},{"item_code":"SAE1","item_name":"Education","display_level":1,"selectable":"T","sort_sequence":312},{"item_code":"SAE2","item_name":"Communication","display_level":1,"selectable":"T","sort_sequence":320},{"item_code":"SAE21","item_name":"Information and information processing","display_level":2,"selectable":"T","sort_sequence":324},{"item_code":"SAEC","item_name":"Education and communication commodities","display_level":1,"selectable":"T","sort_sequence":372},{"item_code":"SAES","item_name":"Education and communication services","display_level":1,"selectable":"T","sort_sequence":373},{"item_code":"SAF","item_name":"Food and beverages","display_level":0,"selectable":"T","sort_sequence":3},{"item_code":"SAF1","item_name":"Food","display_level":1,"selectable":"T","sort_sequence":4},{"item_code":"SAF11","item_name":"Food at home","display_level":2,"selectable":"T","sort_sequence":5},{"item_code":"SAF111","item_name":"Cereals and bakery products","display_level":3,"selectable":"T","sort_sequence":6},{"item_code":"SAF112","item_name":"Meats, poultry, fish, and eggs","display_level":3,"selectable":"T","sort_sequence":24},{"item_code":"SAF1121","item_name":"Meats, poultry, and fish","display_level":4,"selectable":"T","sort_sequence":25},{"item_code":"SAF11211","item_name":"Meats","display_level":5,"selectable":"T","sort_sequence":26},{"item_code":"SAF113","item_name":"Fruits and vegetables","display_level":3,"selectable":"T","sort_sequence":63},{"item_code":"SAF1131","item_name":"Fresh fruits and vegetables","display_level":4,"selectable":"T","sort_sequence":64},{"item_code":"SAF114","item_name":"Nonalcoholic beverages and beverage materials","display_level":3,"selectable":"T","sort_sequence":84},{"item_code":"SAF115","item_name":"Other food at home","display_level":3,"selectable":"T","sort_sequence":94},{"item_code":"SAF116","item_name":"Alcoholic beverages","display_level":2,"selectable":"T","sort_sequence":125},{"item_code":"SAG","item_name":"Other goods and services","display_level":0,"selectable":"T","sort_sequence":335},{"item_code":"SAG1","item_name":"Personal care","display_level":1,"selectable":"T","sort_sequence":339},{"item_code":"SAGC","item_name":"Other goods","display_level":1,"selectable":"T","sort_sequence":383},{"item_code":"SAGS","item_name":"Other personal services","display_level":1,"selectable":"T","sort_sequence":384},{"item_code":"SAH","item_name":"Housing","display_level":0,"selectable":"T","sort_sequence":136},{"item_code":"SAH1","item_name":"Shelter","display_level":1,"selectable":"T","sort_sequence":137},{"item_code":"SAH2","item_name":"Fuels and utilities","display_level":1,"selectable":"T","sort_sequence":145},{"item_code":"SAH21","item_name":"Household energy","display_level":2,"selectable":"T","sort_sequence":146},{"item_code":"SAH3","item_name":"Household furnishings and operations","display_level":1,"selectable":"T","sort_sequence":156},{"item_code":"SAH31","item_name":"Household furnishings and supplies","display_level":1,"selectable":"T","sort_sequence":376},{"item_code":"SAM","item_name":"Medical care","display_level":0,"selectable":"T","sort_sequence":250},{"item_code":"SAM1","item_name":"Medical care commodities","display_level":1,"selectable":"T","sort_sequence":251},{"item_code":"SAM2","item_name":"Medical care services","display_level":1,"selectable":"T","sort_sequence":256},{"item_code":"SAN","item_name":"Nondurables","display_level":1,"selectable":"T","sort_sequence":378},{"item_code":"SAN1D","item_name":"Domestically produced farm food","display_level":1,"selectable":"T","sort_sequence":370},{"item_code":"SANL1","item_name":"Nondurables less food","display_level":1,"selectable":"T","sort_sequence":379},{"item_code":"SANL11","item_name":"Nondurables less food and beverages","display_level":1,"selectable":"T","sort_sequence":381},{"item_code":"SANL113","item_name":"Nondurables less food, beverages, and apparel","display_level":1,"selectable":"T","sort_sequence":382},{"item_code":"SANL13","item_name":"Nondurables less food and apparel","display_level":1,"selectable":"T","sort_sequence":380},{"item_code":"SAR","item_name":"Recreation","display_level":0,"selectable":"T","sort_sequence":269},{"item_code":"SARC","item_name":"Recreation commodities","display_level":1,"selectable":"T","sort_sequence":386},{"item_code":"SARS","item_name":"Recreation services","display_level":1,"selectable":"T","sort_sequence":387},{"item_code":"SAS","item_name":"Services","display_level":1,"selectable":"T","sort_sequence":389},{"item_code":"SAS24","item_name":"Utilities and public transportation","display_level":1,"selectable":"T","sort_sequence":395},{"item_code":"SAS2RS","item_name":"Rent of shelter","display_level":1,"selectable":"T","sort_sequence":388},{"item_code":"SAS367","item_name":"Other services","display_level":1,"selectable":"T","sort_sequence":385},{"item_code":"SAS4","item_name":"Transportation services","display_level":1,"selectable":"T","sort_sequence":394},{"item_code":"SASL2RS","item_name":"Services less rent of shelter","display_level":1,"selectable":"T","sort_sequence":392},{"item_code":"SASL5","item_name":"Services less medical care services","display_level":1,"selectable":"T","sort_sequence":391},{"item_code":"SASLE","item_name":"Services less energy services","display_level":1,"selectable":"T","sort_sequence":390},{"item_code":"SAT","item_name":"Transportation","display_level":0,"selectable":"T","sort_sequence":210},{"item_code":"SAT1","item_name":"Private transportation","display_level":1,"selectable":"T","sort_sequence":211},{"item_code":"SATCLTB","item_name":"Transportation commodities less motor fuel","display_level":1,"selectable":"T","sort_sequence":393},{"item_code":"SEAA","item_name":"Men\'s apparel","display_level":2,"selectable":"T","sort_sequence":189},{"item_code":"SEAA01","item_name":"Men\'s suits, sport coats, and outerwear","display_level":3,"selectable":"T","sort_sequence":190},{"item_code":"SEAA02","item_name":"Men\'s underwear, nightwear, swimwear and accessories","display_level":3,"selectable":"T","sort_sequence":191},{"item_code":"SEAA03","item_name":"Men\'s shirts and sweaters","display_level":3,"selectable":"T","sort_sequence":192},{"item_code":"SEAA04","item_name":"Men\'s pants and shorts","display_level":3,"selectable":"T","sort_sequence":193},{"item_code":"SEAB","item_name":"Boys\' apparel","display_level":2,"selectable":"T","sort_sequence":194},{"item_code":"SEAC","item_name":"Women\'s apparel","display_level":2,"selectable":"T","sort_sequence":196},{"item_code":"SEAC01","item_name":"Women\'s outerwear","display_level":3,"selectable":"T","sort_sequence":197},{"item_code":"SEAC02","item_name":"Women\'s dresses","display_level":3,"selectable":"T","sort_sequence":198},{"item_code":"SEAC03","item_name":"Women\'s suits and separates","display_level":3,"selectable":"T","sort_sequence":199},{"item_code":"SEAC04","item_name":"Women\'s underwear, nightwear, swimwear and accessories","display_level":3,"selectable":"T","sort_sequence":200},{"item_code":"SEAD","item_name":"Girls\' apparel","display_level":2,"selectable":"T","sort_sequence":201},{"item_code":"SEAE","item_name":"Footwear","display_level":1,"selectable":"T","sort_sequence":202},{"item_code":"SEAE01","item_name":"Men\'s footwear","display_level":2,"selectable":"T","sort_sequence":203},{"item_code":"SEAE02","item_name":"Boys\' and girls\' footwear","display_level":2,"selectable":"T","sort_sequence":204},{"item_code":"SEAE03","item_name":"Women\'s footwear","display_level":2,"selectable":"T","sort_sequence":205},{"item_code":"SEAF","item_name":"Infants\' and toddlers\' apparel","display_level":1,"selectable":"T","sort_sequence":206},{"item_code":"SEAG","item_name":"Jewelry and watches","display_level":1,"selectable":"T","sort_sequence":207},{"item_code":"SEAG01","item_name":"Watches","display_level":2,"selectable":"T","sort_sequence":208},{"item_code":"SEAG02","item_name":"Jewelry","display_level":2,"selectable":"T","sort_sequence":209},{"item_code":"SEEA","item_name":"Educational books and supplies","display_level":2,"selectable":"T","sort_sequence":313},{"item_code":"SEEB","item_name":"Tuition, other school fees, and childcare","display_level":2,"selectable":"T","sort_sequence":315},{"item_code":"SEEB01","item_name":"College tuition and fees","display_level":3,"selectable":"T","sort_sequence":316},{"item_code":"SEEB02","item_name":"Elementary and high school tuition and fees","display_level":3,"selectable":"T","sort_sequence":317},{"item_code":"SEEB03","item_name":"Day care and preschool","display_level":3,"selectable":"T","sort_sequence":318},{"item_code":"SEEB04","item_name":"Technical and business school tuition and fees","display_level":3,"selectable":"T","sort_sequence":319},{"item_code":"SEEC","item_name":"Postage and delivery services","display_level":2,"selectable":"T","sort_sequence":321},{"item_code":"SEEC01","item_name":"Postage","display_level":3,"selectable":"T","sort_sequence":322},{"item_code":"SEEC02","item_name":"Delivery services","display_level":3,"selectable":"T","sort_sequence":323},{"item_code":"SEED","item_name":"Telephone services","display_level":3,"selectable":"T","sort_sequence":325},{"item_code":"SEED03","item_name":"Wireless telephone services","display_level":4,"selectable":"T","sort_sequence":326},{"item_code":"SEED04","item_name":"Land-line telephone services","display_level":4,"selectable":"T","sort_sequence":327},{"item_code":"SEEE","item_name":"Information technology, hardware and services","display_level":2,"selectable":"T","sort_sequence":330},{"item_code":"SEEE01","item_name":"Computers, peripherals, and smart home assistants","display_level":3,"selectable":"T","sort_sequence":331},{"item_code":"SEEE02","item_name":"Computer software and accessories","display_level":3,"selectable":"T","sort_sequence":332},{"item_code":"SEEE03","item_name":"Internet services and electronic information providers","display_level":3,"selectable":"T","sort_sequence":333},{"item_code":"SEEE04","item_name":"Telephone hardware, calculators, and other consumer information items","display_level":3,"selectable":"T","sort_sequence":334},{"item_code":"SEEEC","item_name":"Information technology commodities","display_level":1,"selectable":"T","sort_sequence":377},{"item_code":"SEFA","item_name":"Cereals and cereal products","display_level":4,"selectable":"T","sort_sequence":7},{"item_code":"SEFA01","item_name":"Flour and prepared flour mixes","display_level":5,"selectable":"T","sort_sequence":8},{"item_code":"SEFA02","item_name":"Breakfast cereal","display_level":5,"selectable":"T","sort_sequence":9},{"item_code":"SEFA03","item_name":"Rice, pasta, cornmeal","display_level":5,"selectable":"T","sort_sequence":10},{"item_code":"SEFB","item_name":"Bakery products","display_level":4,"selectable":"T","sort_sequence":12},{"item_code":"SEFB01","item_name":"Bread","display_level":5,"selectable":"T","sort_sequence":13},{"item_code":"SEFB02","item_name":"Fresh biscuits, rolls, muffins","display_level":5,"selectable":"T","sort_sequence":16},{"item_code":"SEFB03","item_name":"Cakes, cupcakes, and cookies","display_level":5,"selectable":"T","sort_sequence":17},{"item_code":"SEFB04","item_name":"Other bakery products","display_level":5,"selectable":"T","sort_sequence":20},{"item_code":"SEFC","item_name":"Beef and veal","display_level":6,"selectable":"T","sort_sequence":27},{"item_code":"SEFC01","item_name":"Uncooked ground beef","display_level":7,"selectable":"T","sort_sequence":28},{"item_code":"SEFC02","item_name":"Uncooked beef roasts","display_level":7,"selectable":"T","sort_sequence":29},{"item_code":"SEFC03","item_name":"Uncooked beef steaks","display_level":7,"selectable":"T","sort_sequence":30},{"item_code":"SEFC04","item_name":"Uncooked other beef and veal","display_level":7,"selectable":"T","sort_sequence":31},{"item_code":"SEFD","item_name":"Pork","display_level":6,"selectable":"T","sort_sequence":32},{"item_code":"SEFD01","item_name":"Bacon, breakfast sausage, and related products","display_level":7,"selectable":"T","sort_sequence":33},{"item_code":"SEFD02","item_name":"Ham","display_level":7,"selectable":"T","sort_sequence":36},{"item_code":"SEFD03","item_name":"Pork chops","display_level":7,"selectable":"T","sort_sequence":38},{"item_code":"SEFD04","item_name":"Other pork including roasts, steaks, and ribs","display_level":7,"selectable":"T","sort_sequence":39},{"item_code":"SEFE","item_name":"Other meats","display_level":6,"selectable":"T","sort_sequence":40},{"item_code":"SEFF","item_name":"Poultry","display_level":6,"selectable":"T","sort_sequence":45},{"item_code":"SEFF01","item_name":"Chicken","display_level":7,"selectable":"T","sort_sequence":46},{"item_code":"SEFF02","item_name":"Other uncooked poultry including turkey","display_level":6,"selectable":"T","sort_sequence":49},{"item_code":"SEFG","item_name":"Fish and seafood","display_level":5,"selectable":"T","sort_sequence":50},{"item_code":"SEFG01","item_name":"Fresh fish and seafood","display_level":6,"selectable":"T","sort_sequence":51},{"item_code":"SEFG02","item_name":"Processed fish and seafood","display_level":6,"selectable":"T","sort_sequence":52},{"item_code":"SEFH","item_name":"Eggs","display_level":4,"selectable":"T","sort_sequence":55},{"item_code":"SEFJ","item_name":"Dairy and related products","display_level":3,"selectable":"T","sort_sequence":56},{"item_code":"SEFJ01","item_name":"Milk","display_level":4,"selectable":"T","sort_sequence":57},{"item_code":"SEFJ02","item_name":"Cheese and related products","display_level":4,"selectable":"T","sort_sequence":60},{"item_code":"SEFJ03","item_name":"Ice cream and related products","display_level":4,"selectable":"T","sort_sequence":61},{"item_code":"SEFJ04","item_name":"Other dairy and related products","display_level":4,"selectable":"T","sort_sequence":62},{"item_code":"SEFK","item_name":"Fresh fruits","display_level":5,"selectable":"T","sort_sequence":65},{"item_code":"SEFK01","item_name":"Apples","display_level":6,"selectable":"T","sort_sequence":66},{"item_code":"SEFK02","item_name":"Bananas","display_level":6,"selectable":"T","sort_sequence":67},{"item_code":"SEFK03","item_name":"Citrus fruits","display_level":6,"selectable":"T","sort_sequence":68},{"item_code":"SEFK04","item_name":"Other fresh fruits","display_level":6,"selectable":"T","sort_sequence":70},{"item_code":"SEFL","item_name":"Fresh vegetables","display_level":5,"selectable":"T","sort_sequence":71},{"item_code":"SEFL01","item_name":"Potatoes","display_level":6,"selectable":"T","sort_sequence":72},{"item_code":"SEFL02","item_name":"Lettuce","display_level":6,"selectable":"T","sort_sequence":73},{"item_code":"SEFL03","item_name":"Tomatoes","display_level":6,"selectable":"T","sort_sequence":74},{"item_code":"SEFL04","item_name":"Other fresh vegetables","display_level":6,"selectable":"T","sort_sequence":75},{"item_code":"SEFM","item_name":"Processed fruits and vegetables","display_level":4,"selectable":"T","sort_sequence":76},{"item_code":"SEFM01","item_name":"Canned fruits and vegetables","display_level":5,"selectable":"T","sort_sequence":77},{"item_code":"SEFM02","item_name":"Frozen fruits and vegetables","display_level":5,"selectable":"T","sort_sequence":80},{"item_code":"SEFM03","item_name":"Other processed fruits and vegetables including dried","display_level":5,"selectable":"T","sort_sequence":82},{"item_code":"SEFN","item_name":"Juices and nonalcoholic drinks","display_level":4,"selectable":"T","sort_sequence":85},{"item_code":"SEFN01","item_name":"Carbonated drinks","display_level":5,"selectable":"T","sort_sequence":86},{"item_code":"SEFN02","item_name":"Frozen noncarbonated juices and drinks","display_level":5,"selectable":"T","sort_sequence":87},{"item_code":"SEFN03","item_name":"Nonfrozen noncarbonated juices and drinks","display_level":5,"selectable":"T","sort_sequence":88},{"item_code":"SEFP","item_name":"Beverage materials including coffee and tea","display_level":4,"selectable":"T","sort_sequence":89},{"item_code":"SEFP01","item_name":"Coffee","display_level":5,"selectable":"T","sort_sequence":90},{"item_code":"SEFP02","item_name":"Other beverage materials including tea","display_level":5,"selectable":"T","sort_sequence":93},{"item_code":"SEFR","item_name":"Sugar and sweets","display_level":4,"selectable":"T","sort_sequence":95},{"item_code":"SEFR01","item_name":"Sugar and sugar substitutes","display_level":5,"selectable":"T","sort_sequence":96},{"item_code":"SEFR02","item_name":"Candy and chewing gum","display_level":5,"selectable":"T","sort_sequence":97},{"item_code":"SEFR03","item_name":"Other sweets","display_level":5,"selectable":"T","sort_sequence":98},{"item_code":"SEFS","item_name":"Fats and oils","display_level":4,"selectable":"T","sort_sequence":99},{"item_code":"SEFS01","item_name":"Butter and margarine","display_level":5,"selectable":"T","sort_sequence":100},{"item_code":"SEFS02","item_name":"Salad dressing","display_level":5,"selectable":"T","sort_sequence":103},{"item_code":"SEFS03","it

## Reading HTML content

In [71]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

dfs = pd.read_html(url)

In [72]:
dfs[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
...,...,...,...,...,...,...
555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
556,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [73]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs = pd.read_html(url_mcc, match='Country', header=0)

In [74]:
dfs[0]

,Mobile Country Code,Country,ISO 3166,Mobile Network Codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of Mobile Network Codes in Abkhasia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of Mobile Network Codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of Mobile Network Codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of Mobile Network Codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of Mobile Network Codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of Mobile Network Codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of Mobile Network Codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of Mobile Network Codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of Mobile Network Codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of Mobile Network Codes in Zimbabwe,NaN,NaN